<!DOCTYPE html>
<html layout:decorate="~{base}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title layout:fragment="title">Departamentos</title>
</head>
<body>
<section class="layout-content" layout:fragment="body">

    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="oi oi-caret-right"></i>
                    <span>Lista de Departamentos</span>
                </li>
            </ul>
            <a class="btn btn-primary btn-md" href="/departamentos/cadastrar" role="button">
                <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
                <span>Novo Departamento</span>
            </a>
        </div>
    </nav>
    <div th:replace="fragments/alert"></div>
    <div class="container d-flex justify-content-center" id="listagem">
        <div class="card" style="width: 50rem;">
            <div class="card-header d-flex align-items-center">
                <div>Qnt. de Departamentos: <span class="font-weight-bold"
                                                  th:text="${#lists.size(departamentos)}"></span></div>
            </div>
            <div class="card-body p-0" >
                <div class="table-responsive-xl">
                    <table class="table table-hover mb-0">
                        <thead>
                        <tr>
                            <th class="font-weight-bold text-center align-middle">Nº</th>
                            <th class="font-weight-bold text-center align-middle">Nome</th>
                            <th class="font-weight-bold text-center align-middl">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="d, loopInfo: ${departamentos}">
                            <td class="font-weight-bold text-center  align-middle" th:text="${loopInfo.count}"></td>

                            <td class="text-center align-middle" th:text="${d.nome}"></td>

                            <td class="align-middle">
                                <div class="row row-cols-2">
                                    <div class="col text-center">
                                        <a class="btn btn-info" th:href="@{/departamentos/editar/{id} (id=${d.id}) }" role="button">
                                            <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
                                        </a>
                                    </div>

                                    <div class="col text-center">
                                        <button th:id="${ 'btn_departamentos/excluir/' + d.id}" type="button"
                                                class="btn btn-danger" data-toggle="modal" data-target="#myModal">

                                    <span class="oi oi-circle-x" title="Exclusão desabilitada"
                                          aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>

                            </td>


                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

<div th:replace="fragments/modal :: modal"></div>
</section>
</body>
</html>		