<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Tutorial</title>
</head>

<body>
<form th:action="@{/registration}" method="get">
    <button type="Submit">Go To Registration Page</button>
</form>

<div class="container">

    <form th:action="@{/login}" method="POST" class="form-signin">
        <h3 th:text="Welcome"></h3>

        <br/>

        <input type="text" id="user_name" name="user_name" placeholder="User Name"/> <br/>
        <input type="password" th:placeholder="Password" id="password" name="password" class="form-control"/> <br/>

        <div th:if="${param.error}">
            <p style="color: #FF1C19;">User Name or Password invalid, please verify</p>
        </div>
        <button name="Submit" value="Login" type="Submit" th:text="Login"></button>
    </form>

</div>
</body>
</html>